body
{
    color:darkgreen;
    text-align: left;
    font-family: "Courier";
    font-size: 40px;
    margin: 0;
    padding: 0;
}
#container
{
    width: 70%;
    padding: 1em;
    text-align: center;
    border: 5px solid #128E66;
    margin: 0 auto;
}
#containerh1
{
    font-size: 30px; 
}